                
.navbar .container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-brand {
    padding: 0;
}

.kb-navbar-top {
    margin-bottom: 10px;
    position:relative;
}

.kb-shiny-app-title {
    font-size: large;
    position: absolute;
    top: 15px;
    left: 40px;
    width: 500px;
}

.kb-toolbar-btn {
    padding-top:7px;
}

.kb-logo {
    margin-top:7px;
}
#loggedIn {
    margin-top: 10px;
}
.shiny-busy {
    cursor: wait;
}         
.error {
    color: #ff0033;
}

.kb-example:before {
    content: "Example: "
}
.kb-example {
    color: #A4A4A4;
}
.kb-hint {
    border-bottom: 1px dashed #333;
}

#init_panel {
    padding-bottom: 20px;
}
.kb-status-item div {
    border-bottom: 1px solid #e3e3e3;
}
.table-editor-btn{
    margin-left:15px;
}
.hidden{
    display:none;
}
.modal-backdrop{
    z-index:900;
}
.appData-modalContents {
    margin-top: 20px;
}
.save-config-container {
    text-align:right;
    padding:0 19px 15px 0;
}
.save-config-comment, .save-config-button {
    display:inline-block;
}
.kb-hidden {
    display:none;
}
.content {
    padding-top: 0;
}
#keboola_page .main-sidebar {
    background-color: #fff;
    border-right: 1px solid #ccc;
    padding-top: 0px;
}
.sidebar {
    color: #333;
}
.content-wrapper {
    padding-top: 0px;
    background-color: #fff;
}